<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2246/2246713.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hyfi</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div id="header">

    <ul>
        <li><a  href="/" >Files</a></li>
        <li><a href="/upload">Upload</a></li>
        <li><a href="/login">Login</a></li>
    </ul>


</div>