
    <%- include('header') %>
    
    <ol>
        <% data.forEach(file => { %>
          <li><%= file.name %><a href="/download?name=<%=file.name %>">Download</a></li>
        <% }); %>
      </ol>
    <%- include('footer')%>

    
