<%- include('header') %>
<div id="logindiv">

    <form id="login" action="">
        <input type="text" placeholder="name">
        <input type="password" placeholder="password">
        <input type="submit" placeholder="submit">
    </form>
</div>
<%- include('footer') %>