<%- include('header') %>
<div id="upload">
    
    <form action="/upload" name="files" method="post" enctype="multipart/form-data">
        
        
        
        <h1>Select Files</h1>
        
        <input type="file" name="files" multiple >
        <input type="submit">
    </form>


</div>

<%- include('footer') %>